<header>
    <h1>Detalles del Producto</h1>
</header>

<main>
    <section>
        <h3 id="product-title">Nombre del Producto</h3>

        <div id="product-details">
            <ul>
                <li><strong>ID:</strong> <span id="product-id"></span></li>
                <li><strong>Nombre:</strong> <span id="product-name"></span></li>
                <li><strong>Descripción:</strong> <span id="product-description"></span></li>
                <li><strong>Precio:</strong> $<span id="product-price"></span></li>
                <li><strong>Category:</strong> <span id="product-category"></span></li>
                <li><strong>Codigo:</strong> <span id="product-code"></span></li>
                <li><strong>Disponibilidad:</strong> <span id="product-availability"></span></li>
                <li><strong>Stock:</strong> <span id="product-stock"></span></li>
                <li><strong>Status:</strong> <span id="product-status"></span></li>
            </ul>

            <div id="product-image-container">
                <img id="product-image" src="" alt="Imagen del Producto" style="display:none;" />
            </div>
        </div>

        <button id="back-to-products" class="action-btn">Volver a Productos</button>
    </section>
</main>

<script src="/api/public/js/product.details.js"></script>


